@import "defaults";


#app {
	max-width: $maxWidth;
	width: 100%;
	padding: 40px;
	position: relative;
	margin: 0 auto;
	background-color: rgba(50, 85, 21, 1);
	min-height: 100vh;
	
	header {
		max-width: 610px;
		width: calc(100% - 30px);
		height: 62px;
		position: fixed;
		top: 12px;
		left: 50%;
		transform: translateX(-50%);
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 24px 18px;
		z-index: 1;
		color: #fff;
		background: rgba(100, 171, 43, 0.5);
		backdrop-filter: blur(34.5394px);
		border-radius: $defaultBorderRadius;
		
		.logo {
			position: relative;
			top: 16px;
			width: 58px;
			height: 58px;
			box-shadow: 0 10px 7.61999px rgba(58, 68, 46, 0.3);
			border-radius: $defaultBorderRadius;
			overflow: hidden;
			background: url("../assets/logo.svg") no-repeat center center / 34px 37px, $colorYellow;
		}
		
		button {
			i {
				color: #fff;
				font-size: 22px;
			}
		}
	}
	
	#posts {
		margin-top: calc(122px - 12px);
		position: relative;
		color: #fff;
		
		.post {
			border-bottom: 3px solid $colorYellow;
			
			&:not(:first-of-type) {
				margin-top: 56px;
			}
			
			.post__img {
				width: 100%;
				height: 232px;
				border-radius: $defaultBorderRadius;
				overflow: hidden;
				margin-bottom: 24px;
				position: relative;
				
				.post__likes {
					position: absolute;
					bottom: 12px;
					right: 12px;
					width: 38px;
					height: 38px;
					
					button {
						width: inherit;
						height: inherit;
						border: 3px solid $colorYellow;
						border-radius: 100%;
						overflow: hidden;
						transition: background-color $defaultTransition, border-color $defaultTransition;
						
						&.liked {
							background-color: #F26F87;
							border-color: #F26F87;
							transition: background-color $defaultTransition, border-color $defaultTransition;
						}
						
						i {
							border-radius: 100%;
							color: $colorYellow;
						}
					}
				}
			}
			
			p {
				margin-bottom: 16px;
				
				&.post__message {
					font-size: emSize(18);
					font-weight: bold;
					line-height: emSize(27);
					word-wrap: break-word;
					
					&::first-letter {
						text-transform: uppercase;
					}
				}
				
				&.post__time {
					font-size: emSize(12);
					text-transform: uppercase;
				}
			}
		}
	}
	
	#upload {
		position: fixed;
		bottom: 0;
		@include centerX;
		width: 100%;
		max-width: 640px;
		height: 93px;
		background: rgb(255, 255, 255);
		background: linear-gradient(180deg, rgba(0, 0, 0, 0) 5%, rgba(0, 0, 0, 0.74) 100%);
		display: flex;
		align-items: flex-start;
		justify-content: center;
		
		button {
			width: 58px;
			height: 58px;
			border-radius: $defaultBorderRadius;
			overflow: hidden;
			background-color: $colorGreen;
			color: #fff;
			
			i {
				font-size: 23px;
			}
		}
	}
	
	#input {
		position: fixed;
		bottom: 0;
		left: 50%;
		width: 100%;
		max-width: $maxWidth;
		border-radius: 20px 20px 0 0;
		padding: 22px 32px;
		background: #fff;
		transform: translate(-50%, 100%);
		transition: transform .4s ease-out;
		z-index: 3;
		
		&.shown {
			transform: translate(-50%, 0);
			transition: transform .4s ease-out;
		}
		
		.closer {
			color: $colorGreen;
			font-size: emSize(22);
			float: right;
			line-height: 0;
			margin-bottom: 12px;
		}
		
		form {
			clear: both;
			
			.form_block {
				margin-bottom: 16px;
				
				h2 {
					font-size: emSize(16);
					margin-bottom: 16px;
				}
				
				textarea {
					border: 1px solid rgba(220, 217, 229, 1);
					width: 100%;
					border-radius: $defaultBorderRadius;
					padding: 9px 16px;
					color: rgba(109, 102, 134, 1);
				}
				
				.input_file_wrap {
					height: 40px;
					
					&.removable {
						position: relative;
						
						#file_label {
							text-overflow: ellipsis;
							white-space: nowrap;
							overflow: hidden;
							padding-right: 22px;
							border: none;
							color: rgba(41, 32, 67, 1);
							text-align: left;
						}
						
						#delete_file {
							display: block;
						}
					}
					
					#file_label {
						height: inherit;
						line-height: 40px;
						color: $colorGreen;
						width: 100%;
						border: 1px solid $colorGreen;
						border-radius: $defaultBorderRadius;
						cursor: pointer;
						text-align: center;
						font-size: emSize(14);
						display: inline-block;
						position: relative;
						
					}
					
					#delete_file {
						display: none;
						position: absolute;
						right: 4px;
						@include centerY;
						z-index: 9;
					}
					
					#user_file {
						display: none;
					}
				}
			}
			
			#publish_btn {
				margin-top: 16px;
				height: 48px;
				background-color: $colorGreen;
				width: 100%;
				border-radius: $defaultBorderRadius;
				font-size: emSize(16);
				color: #fff;
				transition: background-color $defaultTransition, color $defaultTransition;
				
				&:disabled {
					background-color: rgba(241, 240, 246, 1);
					color: rgba(184, 180, 201, 1);
					transition: background-color $defaultTransition, color $defaultTransition;
				}
			}
		}
	}
	
	.overlay {
		visibility: hidden;
		background-color: rgba(0, 0, 0, 0.5);
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		z-index: 2;
		
		&.shown {
			visibility: visible;
		}
	}
}

